.content {
  }

.clearfix::after {
  clear: both;
  display: block;
  content: "";
}

header {
    width: 100%;
    background-color: white;
    float: left;
    height: 52px;
    margin: 0px 0px 0px 0px;
    display: inline;
    padding: 20px 0px 0px 0px;
    border-bottom: 1px solid #cccccc;
}

.subheader {
    width: 960px;
    display: block;
    margin: auto;
}

.fullname {
    color: white;
    background-color: #4aaaa5;
    padding: 20px 20px 25px 20px;
    margin: 0px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.9px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline;
}

nav {
    float: right;
    padding: 10px 10px 10px 0px;
    margin: 0px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #dddddd;
}

a:link {
    text-decoration: none;
    color: #dddddd; 
}

a:visited {
    text-decoration: none;
    color: #a5a5a5; 
  }

body {
    background-image: url('../images/dynamic-style.png');

    margin: 0px;
    width: 100%;
}

.pageheading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
    border-bottom: 3px solid #d8d8d8;
    padding: 0px 0px 20px 0px;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    width: 910px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px 25px 15px 25px;
    color: #777777;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 25px 0px 10px 0px;
    text-align: center;
    color: rgb(221, 221, 221);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}
